.button {
    padding: 1rem 0.5rem;
    width: 100%;
    border-radius: 8px;
    background-color: #3a54a3;
    color: #fff;
    font-size: 16px;
    margin-bottom: .5rem;
    display: flex;
    gap: .4rem;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: rgba(58, 84, 163, 0.9);
}

.button:disabled {
    background-color: rgb(80, 105, 184);
    cursor: not-allowed;
}
